h1{
    background-color: rgb(207, 202, 202);
    text-align: center;
    
}

*{
    background-color:red
    background-image: url(https://images.unsplash.com/photo-1689832097085-43f8f645ebcb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);

}

a:hover{
    color: black;
}

button{
    text-decoration:dotted ;
    background-color: aqua;
}

.ashit::first-letter{
    content: "important";
    color:greenyellow;

}

#ui{
    color:peru;
}

.underline {
    text-decoration:line-through;
  }

  #porter {
   text-transform: uppercase;
   line-height:10;
   text-shadow: 41px 28px 4px rgba(0,0,0,0.6); 
   font-weight: 900;
   color:green;
   font-family: Arial, Helvetica, sans-serif;
   height: 500px;
   width: 500px;
   padding: 100px ;
   background-image: url(https://images.unsplash.com/photo-1689450026712-5d700960c49a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
   background-position: center;  
   background-size: contain;
   border:50px dashed blue;
   background-repeat: repeat-y;
   border-radius: 10%;
   margin-top: 0px;
   
}

  