h1{
    background-color: rgb(207, 202, 202);
    text-align: center;

    
}

*{
    background-color:red
}

a:hover{
    color: black;
}

button{
    text-decoration:dotted ;
    background-color: aqua;
}

.ashit::first-letter{
    content: "important";
    color:greenyellow;

}

#ui{
    color:peru;
}

.underline {
    text-decoration:line-through;
  }

  #porter {
   text-transform: uppercase;
   line-height:10;
   text-shadow: 41px 28px 4px rgba(0,0,0,0.6); 
   font-weight: 900;
   color:green;
   font-family: Arial, Helvetica, sans-serif;
   height: 500px;
   width: 500px;
   padding: 100px ;
   background-image: url(https://images.unsplash.com/photo-1689450026712-5d700960c49a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
   background-position: center;  
   background-size: contain;
   border:50px dashed blue;
   background-repeat: repeat-y;
   border-radius: 10%;

   
}

.hello {
    list-style-type: square;
    list-style-position: inside;
    /* list-style-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMMrW9CJkBUuNTfUGNVv_6BaWPfo2veWixgSM6ML0Sow&s); */
}

.hello {
    display: inline;
}

.block-element {
    display: block;
    background-color: lightblue;
    padding: 10px;
  }

  .rim{
    height:300px;
    width: 50px;
    background-color: brown;
    margin-top: 20px;
    border:3px solid blue;
    position: sticky;
    margin-left: 20px;
  }

  .static {
    position: static;
    border: 3px solid #73AD21;
}

.sticky {
    position: sticky;
    left: 50px;
    border: 3px solid #73AD21;
}

  



  